*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}

figure {
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

ul,
ol,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;} */
p {
    margin: 0;
}

cite {
    font-style: normal;
}

fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
}

:root {
    --maroon: #862633;
    --black: #231f20;
    --darkgrey: #63666a;
    --grey: #F0F2F7;
    --stopRed: #e4002b;
    --goGreen: #78Be20;
    --infoBlue: #1e22aa;
}

html,
body {
    font-family: Montserrat;
    height: 100%;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('../images/maltings-bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    filter:grayscale(100%) opacity(10%);

  }
  


.title, 
.text-maroon {
    color: var(--maroon);
}

.shadow {
    box-shadow: 0 15px 20px 0 rgba(0,0,0, 0.3);
}

#banner {
    background-color: var(--grey);
    color: white;
    border-bottom: 1px solid var(--black);
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

footer {
    font-size: 9px;
    color: var(--maroon);
    position: absolute;
    bottom: 10px;
}

/* nav>ul>li:last-child {
     float: right;
} */
.btn-primary {
    background-color: var(--maroon);
    border: 1px solid var(--black);
}

.btn-primary:hover {
    background-color: var(--goGreen);
}