<%- include('./head')%>
    <%- include('./header')%>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-4">
                    <div class="card shadow m-3">
                        <div class="card-header">Total bookings</div>
                        <div class="card-body">
                            <h5 class="card-title">Total number of bookings ever so far...</h5>
                            <span class="display-1">4567</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow m-3">
                        <div class="card-header">Active Bookings</div>
                        <div class="card-body">
                            <h5 class="card-title">Total number of ongoing and future bookings</h5>
                            <span class="display-1">54</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow m-3">
                        <div class="card-header">Total guests</div>
                        <div class="card-body">
                            <h5 class="card-title">Total number of guests ever so far...</h5>
                            <span class="display-1">6080</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow m-3">
                        <div class="card-header">Current guests</div>
                        <div class="card-body">
                            <h5 class="card-title">Total number of current guests</h5>
                            <span class="display-1">16</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow m-3">
                        <div class="card-header">Current groups</div>
                        <div class="card-body">
                            <h5 class="card-title">Current Groups on campus:</h5>
                            <p>
                            <ul>
                                <li>English</li>
                                <li>Arts</li>
                                <li>Theatre</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow m-3">
                        <div class="card-header">Occupancy YTD</div>
                        <div class="card-body">
                            <h5 class="card-title">Total percent of occupancy in 2022</h5>
                            <span class="display-1">34%</span>
                        </div>
                    </div>
                </div>

            </div>



            <%- include('./footer')%>