<%- include('./head')%>
    <%- include('./header')%>
        <div class="container">
            <h1>Reports - List of available reports</h1>
            <ul>
                <li>Yearly occupancy</li>
                <li>This weeks Residents List</li>
                <li>Other report</li>
                <li>Other report</li>
                <li>Other report</li>

                <li>Other report</li>
            </ul>

        </div>



        <%- include('./footer')%>